@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.full-screen-minus-nav {
  height: calc(100vh - var(--navbar-height));
}

.full-screen-about-me {
  height: calc(100vh);
}

:root {
  --navbar-height: 8rem;
}